{{>_navbar}}
<section id="container" class="">
    <section id="main-content">
        <br>
        <br>
        <br>
        <br>
        <center>
        <form action="/relatorio" method="post">
            Quantidade de registro de Eventos que deseja? <input class="form-control" type="text" name="limite" style="width: 200px;"><br>
            <button class="btn btn-success" type="submit">Pesquisar</button>
            <br>
            <br>
        </form>
        </center>

        <table id="example" class="display" style="width:100%">

            <thead>
                <tr>
                    <th>idEvento</th>
                    <th>dataEvento</th>
                    <th>temperaturaEvento</th>
                    <th>estaçãoEvento</th>
                </tr>
            </thead>
            <tbody>
                {{#each resultado}}
                <tr>
                    <td>{{idEvento}}</td>
                    <td>{{dataEvento}}</td>
                    <td>{{temperaturaEvento}}°C</td>
                    <td>{{estacaoEvento}}</td>
                </tr>
                {{else}}
                <td>Não foi possivel localizar</td>
                <td>Não foi possivel localizar</td>
                <td>Não foi possivel localizar</td>
                <td>Não foi possivel localizar</td>
                {{/each}}

            </tbody>
            <tfoot>
                <tr>
                    <th>idEvento</th>
                    <th>dataEvento</th>
                    <th>temperaturaEvento</th>
                    <th>estaçãoEvento</th>

                </tr>
            </tfoot>
        </table>
    </section>
</section>

<script>
    verificar_autenticacao();
</script>

 <!-- Custom scripts for this template -->
    <script src="jsIndex/grayscale.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script type="text/javascript" src="https://assets.freshservice.com/widget/freshwidget.js"></script>
    <script type="text/javascript">
        FreshWidget.init("", {
            "queryString": "&widgetType=popup",
            "utf8": "✓",
            "widgetType": "popup",
            "buttonType": "text",
            "buttonText": "Suporte",
            "buttonColor": "white",
            "buttonBg": "#24364a",
            "alignment": "2",
            "offset": "235px",
            "formHeight": "500px",
            "url": "https://corallifeservicedesk.freshservice.com"
        });
    </script>

    <script>
        function modalChat() {
            var winpop = window.open('https://corallifeservicedesk.freshservice.com/support/home');
            winpop.blur();
            window.focus();
        }
    </script>

</body>

<script>
    function initFreshChat() {
        window.fcWidget.init({
            token: "1db4c39e-36f7-47c7-869f-463d9c33440f",
            host: "https://wchat.freshchat.com"
        });
    }

    function initialize(i, t) {
        var e;
        i.getElementById(t) ? initFreshChat() : ((e = i.createElement("script")).id = t, e.async = !0, e.src = "https://wchat.freshchat.com/js/widget.js", e.onload = initFreshChat, i.head.appendChild(e))
    }

    function initiateCall() {
        initialize(document, "freshchat-js-sdk")
    }
    window.addEventListener ? window.addEventListener("load", initiateCall, !1) : window.attachEvent("load", initiateCall, !1);
</script>